
@{
    ViewData["Title"] = "SkillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Sayfası</h3>
</div>
<form class="form-group" method="post">
    <br />

    <label>
        Yetenek Başlığı
    </label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>
        Değer
    </label>
    <input type="text" class="form-control"  name="Value" />
    <br />
    <button class="btn btn-primary" >Kaydet</button>


</form>

